In [ ]:
import pandas as pd
import numpy as np
from numpy import log
from statsmodels.tsa.stattools import adfuller

In [ ]:
df = pd.read_csv('123.csv')

      Sales  Dates_count
0     11097            3
1      1676            3
2      5734            3
3      4441            3
4      3474            3
...     ...          ...
1569   3941            1
1570   3148            1
1571   6267            1
1572   3195            1
1573   5709            1

[1574 rows x 2 columns]

In [ ]:
sum(df['Sales'].values)

15961663

In [ ]:
X = df['Sales'].values
X = np.log(X)
result = adfuller(X)
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
for key, value in result[4].items():
  print('\t%s: %.3f' % (key, value))

[11097  1676  5734 ...  6267  3195  5709]
ADF Statistic: -3.572534
p-value: 0.006308
	1%: -3.435
	5%: -2.863
	10%: -2.568

array([9.31443008, 7.42416528, 8.65416865, ..., 8.74305305, 8.06934237,
       8.64979916])

In [ ]:
def sampen(L, m, r):
    N = len(L)
    B = 0.0
    A = 0.0
    
    
    # Split time series and save all templates of length m
    xmi = np.array([L[i : i + m] for i in range(N - m)])
    xmj = np.array([L[i : i + m] for i in range(N - m + 1)])

    # Save all matches minus the self-match, compute B
    B = np.sum([np.sum(np.abs(xmii - xmj).max(axis=1) <= r) - 1 for xmii in xmi])

    # Similar for computing A
    m += 1
    xm = np.array([L[i : i + m] for i in range(N - m + 1)])

    A = np.sum([np.sum(np.abs(xmi - xm).max(axis=1) <= r) - 1 for xmi in xm])

    # Return SampEn
    return -np.log(A / B)

In [ ]:
sampen(X, 2, np.std(X) * 0.2)

1.8092156555871992

13960.632433529376